.backgroundimage {
  background-image: url(../../public/backgroundPosts/world.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}
.h2 {
  padding: 40px;
  background-color: antiquewhite;
  font-size: x-large;
  font-weight: 100;
  text-align: center;
}
