.bodyy {
  background-image: url(../../public/landing/members.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-color: rgba(140, 135, 135, 0.8);
}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 40px;
}
.button {
  size: 10ch;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.anime {
  width: 100%;
  height: 100%;
  max-height: 1080px;
  background-color: #e9e3e3;
  position: relative;
}

.anime img {
  display: block;
  position: absolute;
  top: 28%;
  left: 40%;
}

.mainSite {
  width: 100%;
  height: 100%;
  max-height: 1080px;
  background-color: #fc6;
  position: relative;
}

.mainSite p {
  font-size: 160%;
  color: #fff;
  position: absolute;
  top: 42%;
  left: 40%;
}

/* ----------------------- top page animation----------------------- */

.body {
  color: white;
  background-color: white;
  transition: background-color 1s ease;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-violet {
  background-color: #7a4eab;
}
.color-indigo {
  background-color: #4332cf;
}
.color-blue {
  background-color: #2f8fed;
}
.color-green {
  background-color: #4dcf42;
}
.color-yellow {
  background-color: #faeb33;
}
.color-orange {
  background-color: #f19031;
}
.color-red {
  background-color: #f2293a;
}
.h1,
.h2 {
  text-align: center;
  font-size: 2.6em;
  letter-spacing: -0.05em;
  line-height: 1.1;
  padding: 20px;
}
.p {
  text-align: center;
  margin-top: 1.6em;
}
.pp {
  text-align: center;
  font-size: 30px;
}
.ppp {
  text-align: center;
  margin-top: 1.6em;
}
