.buttons {
  margin-top: 80px;
}
.back1 {
  height: 1020px;
  background-image: url(../public/tops/view.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
}
.back2 {
  height: 1020px;
  width: auto;
  background-image: url(../public/tops/view.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
}
.back3 {
  height: 1020px;
  width: auto;
  background-image: url(../public/tops/run.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
}
.back4 {
  height: 1020px;
  width: auto;
  background-image: url(../public/tops/world.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
}
.back5 {
  height: 1020px;
  width: auto;
  background-image: url(../public/tops/flags.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
}
.back6 {
  height: 1020px;
  width: auto;
  background-image: url(../public/tops/flags.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
}
.back7 {
  height: 1020px;
  width: auto;
  background-image: url(../public/tops/flags.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
}
