.back1 {
  height: 980px;
  background-image: url(../public/beijing.webp);
}
.back2 {
  height: 980px;
  background-image: url(../public/austin.webp);
}
.back3 {
  height: 980px;
  background-image: url(../public/beijing.webp);
}
.back4 {
  height: 980px;
  background-image: url(../public/dallas.webp);
}
.back5 {
  height: 980px;
  background-image: url(../public/shin.jpeg);
}
