.back1 {
  height: 980px;
  background-image: url(../public/tops/beijing.webp);
}
.back2 {
  height: 980px;
  background-image: url(../public/tops/austin.webp);
}
.back3 {
  height: 980px;
  background-image: url(../public/tops/beijing.webp);
}
.back4 {
  height: 980px;
  background-image: url(../public/tops/dallas.webp);
}
.back5 {
  height: 980px;
  background-image: url(../public/tops/shin.jpeg);
}
.back6 {
  height: 980px;
  background-image: url(../public/tops/newyork.webp);
>>>>>>> origin
}
