.h1 {
  font-size: 55px;
}
.h2 {
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  margin: 30px 0px 30px 0px;
}
.p1 {
  margin: 10px;
}
.image {
  text-align: center;
  padding-bottom: 20px;
}
.fontp {
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.fixbutton {
  position: fixed;
  bottom: 200px;
  right: 100px;
  padding: 6px 20px;
}
