.h1 {
  font-size: 55px;
}
.h2 {
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  margin: 60px 0px 20px 0px;
}
.h3 {
  color:white;
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  margin: 30px 0px 20px 0px;
}
.p1 {
  margin: 30px 0px 40px 0px;
}
.p2 {
  margin: 20px 0px 60px 0px;
}
.main {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: blue;
}
.image {
  text-align: center;
  padding-bottom: 20px;
}
.tt {
  display: inline-block;
  vertical-align: top;
}
.boxContainer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.contact {
  vertical-align: middle;
  text-align: center;
  width: 500px;
  height: 500px;
}
.back {
  background-image: url(../../public/tabs/image.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(120, 107, 107, 0.8);
}
.fontp {
  font-weight: bold;
  font-size:14px;
  color:white;
}
